* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: "center";
    align-items: "center";
    width: 100%;
    padding: 20px;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.cell {
    width: 20px;
    height: 20px;
    background-color: gray;
    margin: 10px;
}

.cell.blue {
    background-color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid gray;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

button {
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: rgb(55, 95, 195);
    border: 0;
    border-radius: 5px;
    margin: 50px auto;
}

.empty_block {
    font-size: 60px;
}

.bricks_container {
    padding: 10px;
    border: 5px solid transparent;
    display: flex;
    transition: border-color 0.3s ease-in-out;
}

.bricks_container.active {
    border-color: greenyellow;
}
